/* tailwind default */
@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

body {
    @apply flex flex-col justify-center items-center;
    @apply h-[96vh]; /* ✅ this is the fix */
    @apply bg-pink-200 p-3 m-5 border-10 border-white rounded-4xl;
    @apply overflow-hidden;
  }

/* center container and gif */
div#main{ 
    @apply flex flex-col justify-between items-center;
    @apply h-[65%] w-fit;
}
img#main-gif{
    @apply w-[78%];
    @apply rounded-2xl;
    @apply object-cover;
    object-position: 70% 70%; 
}
h2#client-message{
    @apply text-2xl font-semibold text-center;
    word-break: break-word;
}

/* buttons */
div.btn-container{
    @apply flex;
    @apply mt-4 mb-2;
}

button{
    @apply border-2 border-white p-4 rounded-t-2xl;
    @apply transition-transform duration-50;
    @apply font-sans font-bold;
}
.btn-accept{
    @apply mr-6;
    @apply bg-green-500;
    @apply z-10;
}
.btn-denial{
    @apply scale-75;
    @apply bg-red-400;
}

/* Hearts */
.heart {
    @apply absolute;
    @apply w-[70px] h-[60px] z-30;
    animation: slideOuter 1s ease-in-out infinite, float 30s linear 1, fade 2s infinite;
}
  
.heart::before, .heart::after {
    content: "";
    @apply absolute;
    @apply top-0 w-[40px] h-[60px] rounded-t-[50px];
    @apply bg-red-500;
    /* background: rgb(255, 0, 81); */
}

.heart::before {
    @apply left-[40px];
    @apply transform rotate-[-45deg];
    transform-origin: 0 100%;
}

.heart::after {
    @apply left-[0px];
    @apply transform rotate-[45deg];
    transform-origin: 100% 100%;
}

/* Animations */
/* btn-denial */
@keyframes slide {
    0%   { transform: translateX(0); }
    25%  { transform: translateX(100px); }
    75%  { transform: translateX(-100px); }
    100% { transform: translateX(0); }
}

/* heart */
@keyframes fade {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 45%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes slideOuter {
    0%   { 
        transform: translateX(0); 
    }
    25%  { 
        transform: translateX(50px); 
    }
    75%  { 
        transform: translateX(-50px); 
    }
    100% { 
        transform: translateX(0); 
    }
}

@keyframes float {
    from { 
        top: 110%;
    }
    to {
        top: -20%;
        display: none;
    }
}

/* responsive alternatives (mobile to tablet only) */